@import "../../../../styles.scss";
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  img {
    width: 70%;
    min-width: 300px;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px #000;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 976px) {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
    @media screen and (max-width: 480px) {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

// .image {
// position: relative; /* Establece la posición relativa para poder usar posición absoluta en elementos hijos */
// display: flex;
// justify-content: center;
// align-items: center;
// height: 100%;
// width: 100%;

// img {
//   width: 70%;
//   min-width: 300px;
//   z-index: 1;
// }

// .text-overlay {
//   position: absolute; /* Establece la posición absoluta para que el texto se superponga a la imagen */
//   text-align: center; /* Alinea el texto al centro */
//   color: #fff; /* Color de texto */
//   padding: 20px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;
//   width: 70%;
//   min-width: 300px;
// }

// h1,
// p,
// button {
//   margin: 10px; /* Agrega espacios entre los elementos de texto */
// }
// }
