@import "../../../../styles.scss";

.profile-header {
  display: flex;
  justify-content: center;
  h2 {
    position: relative;
  }
  .span {
    position: absolute;
    right: 0;
    width: 0;
    background: #fff;
    border-left: 1px solid #000;
    animation: escribir 2s steps(30);
  }

  @keyframes escribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);

  .profile-form {
    width: 500px;
    margin: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px $my-color-950;
    text-align: center;

    form {
      padding: 5%;

      .btn {
        border: none;
        background-color: $my-color-500;
        padding: 4%;
        margin-top: 5%;
        border-radius: 20%;
        font-size: 0.9rem;

        &:hover {
          background-color: $my-color-600;
        }
      }
      input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
      }
    }
  }

  .avatar {
    position: relative;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 20px;
      z-index: 1;
    }

    button {
      position: absolute;
      bottom: 0;
      // border: none;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
