/* You can add global styles to this file, and also import other style files */
$my-color-50: #f0fce9;
$my-color-100: #ddf7d0;
$my-color-200: #bdf0a6;
$my-color-300: #9ae67a;
$my-color-400: #6fd546;
$my-color-500: #4ebb27;
$my-color-600: #3a951b;
$my-color-700: #2e7219;
$my-color-800: #285a1a;
$my-color-900: #254d1a;
$my-color-950: #0f2a09;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
